/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}


#logo{
    height: 18px;
}

main{
    margin-top: 30px;
  }

#main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-nav ul{
    display: flex;
    list-style: none;
    margin: 0;
}

#main-nav li{
    padding: 16px 24px;
}

#main-nav li a{
    text-decoration: none;
    border-top: 3px transparent solid;
    padding-top: 16px;
}

#main-nav li a:hover {
    border-color: var(--main-color);
  }

#main-nav li a.current {
    border-color: var(--main-color);
    color: var(--main-color);
  }

.fa-solid.fa-location-dot{
    color: black;
    padding: 15px;
    width: 14px;
    height: 18px;
    
}

.input-rechercher{
    display: flex;
    align-items: center;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    background-color: #F2F2F2;
    margin-bottom: 30px;
    margin-top: 40px;
    
}

.input-rechercher input[type='text']{
    border: none;
    background-color:white;
    padding: 15px;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 18px;
    text-align: center;
    width: 170px;
    
}

.input-rechercher button{
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
   
    
}